{% extends "layout_t.html" %}

{% block header %}
   <title>WAMP Specification</title>
   <meta name="description" content="The WAMP protocol specification and reference.">
{% endblock %}

{% block content %}

   <div id="page_wrapper">
      <a name="top"></a>
      <h1 class="title">The Web Application Messaging Protocol</h1>

      <ul>
         <li>
            <a href="{{ url_for('static', filename = 'rfc/draft-oberstet-hybi-crossbar-wamp.txt') }}">RFC (TXT format)</a>
         </li>
         <li>
            <a href="{{ url_for('static', filename = 'rfc/draft-oberstet-hybi-crossbar-wamp.html') }}">RFC (HTML format)</a>
         </li>
      </ul>

      <h2>Development</h2>
      <p>
         We're currently working on getting WAMP published as an IETF standard.
      </p>
      <p>
         You can find the latest internet draft of the spec at the <a href="https://tools.ietf.org/html/draft-oberstet-hybi-crossbar-wamp">IETF website</a>.
      </p>
      <p>
         The source files for this are in <a href="https://github.com/wamp-proto/wamp-proto">the project GitHub repo</a>.
      </p>
      <p>
         If you want to participate in the development and standardization of WAMP, then see the <a href="https://github.com/wamp-proto/wamp-proto/blob/master/CONTRIBUTING.md">contribution readme</a>.
      </p>

   </div>

{% endblock%}
